<!doctype html>
<html lang="es" ng-app='MyAppInartec'>
<head>
	<title>Inartec</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/ng-grid.css">
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>-->
	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/ng-grid-2.0.11.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller="DashboardControl">
	<div class="div3days"><label>Proyeccion de los 3 Ultimos Dias</label></div>
	<div class="DashToday"><label>Proyeccion Diaria</label></div>
	<div class="DashPerformance"><label>Estadisticas de Rendimiento</label></div>

	<div class="DashBarInfor"><label>Barra de Informacion</label><div style="height:1px; background: grey;"></div></div>
	<div class="DashBarMessage"><label>Barra de Mensajes</label><div style="height:1px; background: grey;"></div></div>

	<div class="DashAreas">
		<label>Lista de Areas</label>
		<div style="height:1px; background: grey;"></div>
		<div>
		<ul id="menuAreas" class="list-unstyled">
			<li value="" ng-click="cualArea('')">Todas las Areas</li>
			<li ng-repeat="area in listareas" value="area.id_area" ng-click="cualArea(area.nombre_area)">
				<!--<img style="max-width:30px;" src="https://www.forumsport.com/img/productos/299x299/378373.jpg" title="sample"/>-->
				{{area.nombre_area}}
			</li>
		</ul>
		</div>
	</div>
	<div class="DashPatients" >
		<label>Cuadro de Pacientes</label>
		<div style="height:1px; background: grey;"></div>
		<select style="width:100%">
			<option value="">Todas las Areas</option>
			<option ng-repeat="area in listareas" value="area.id_area">{{area.nombre_area}}</option>
		</select>
		<div class="gridStyle" ng-grid="gridOptions" ng-mousedown="ff()"></div>
		<button ng-click="getDataOrder()">GetData</button>
	</div>
	<div class="DashDetail">
		<label>Detalles del Paciente</label>
		<div style="height:1px; background: grey;"></div>
		<div class="selectedItems" ng-hide="!mySelections[0].id_paciente" style="background: bisque;">
			<div id="Diiv">
				<img src="{{mySelections[0].imagen}}">
			</div>
			<label>{{mySelections[0].nombre}} {{mySelections[0].apellido}}</label><br/>
			<label ng-if="mySelections[0].genero == 'f'">Femenino, {{mySelections[0].edad}}</label>
			<label ng-if="mySelections[0].genero != 'f'">Masculino, {{mySelections[0].edad}}</label>
			<br/><label>Hora de llegada: {{mySelections[0].hora_entrada}}</label><br/>
		</div>
		<!--<div class="selectedItems" ng-repeat="areas in mySelections">
			<b>Area:</b>{{areas.Area}}<br/>
			<b>Nombre:</b>{{areas.Nombre}}<br/>
			<b>Apellido:</b>{{areas.Apellido}}<br/>
			<b>Edad:</b>{{areas.age}}<br/>
		</div>-->
	</div>
</body>
</html>